# LI PROGRAMA DE VERÃO (2022 - edição 51)

<img src='../figuras/paisagem.png'>

# Antes de começar!!!

* Abram os microfones, digam seu nome e um tópico da aula passada que vc se lembra

<img src='../figuras/revisao.jpeg'>

###  Recapitulando a aula anterior:

* O primeiro passo para criar um software é escrever um algoritmo com o que ele deve fazer.
* Algoritmo são os passos que você quer que o software faça.
* Lógica adiciona inteligência ao algoritmo para que ele tome uma decisão.

**Dica/Estratégia para construir bons algoritmos:**

* <font color='green'>Qual é o problema: </font> 

    - Imprimir a idade do usuário
* <font color='green'>Como sabemos a idade de alguém? </font> 
    - Subtraindo a data atual pela data de nascimento
* <font color='green'>Como descobrir a data atual? </font> 
    - Verificando a data no computador
* <font color='green'>Como descobrir a data de nascimento de alguem? </font> 
    - Perguntando para ele 

....
    
    
**observe:**

> imprimir a idade do usuário não é o algoritmo, é o objetivo
> as respostas também não podem ser consideradas um algoritmo, pq não temos uma ordem definida

**ToDo:** Seguindo essa abordagem, escrevam o algoritmo para dividir dois números enviados pelo usuário

# Hoje! 


* História do Python
* Características gerais
* Variáveis e seus tipos
* Operadores: matemáticos, relacionais, lógico
* Trabalhando com strings
* Coleções (listas, tuplas, conjuntos e dicionários)
* Condicionais
* Estruturas de repetição
* Funções
* Python Zen
* Bibliotecas

# E o Python?

## História
    
<img src='../figuras/Python2.png'>

## Mais algumas curiosidades e Características

- Surgiu em 1989, como um hobby na semana de  <font color='red'>Natal</font>;
- Criada por <font color='blue'>Guido van Rossum;</font>
- Não tem nada a ver com a cobra. Monty Python and the Flying Circus;
- Licença compatível com Software Livre; [Tipos de Licença](https://www.agtic.ufpr.br/pds-ufpr/ProcessoDemoisellePlugin/guidances/supportingmaterials/tiposLicencasSoftware_AD711F8B.html)
- Linguagem de altíssimo nível (VHLL); **Possuem semântica mais genérica, mais parecida com a escrita em linguagem humana. Além disso, elas não estão vinculadas ao processador.**

- Multiparadigma (OO, funcional e procedural);
- Aumentar a <font color='green'>produtividade</font>  do programador;
- Interpretada: O código fonte não é executado diretamente pelo sistema operacional, isso quer dizer que as aplicações serão multiplataforma
    - o interpretador pega o codigo fonte e gera a aplicação
- **Tipagem: Dinâmica!** Uma variável pode assumir tipos diferentes durante o programa e não é necessário declará-lo

    * Os tipos das variáveis não são declarados, mas estão associados aos objetos.
    * Isso deixa a linguagem flexível pois pode-se mudar o tipo de uma variável dinamicamente
    * Em termos de segurança isto é ruim, pois não há garantia de que o tipo da variável não foi alterado
    * Falamos em atribuição ao invés de declaração

<img src='../figuras/alto_nivel.png'>

<img src='../figuras/baixo_nivel.png'>

## Versões

<img src='timeline_python.jpeg'>

Nota: O python 3 é a primeira versão do Python que é incompativel com as anteriores

## Execução
- <font color='purple'>Modo iterativo: </font> O modo interativo é uma característica diferencial da linguagem, pois é possível testar e modificar trechos de código antes da inclusão do código em programas, fazer extração e conversão de dados ou mesmo analisar o estado dos objetos que estão em memória, entre outras possibilidades.
- <font color='purple'>Modo script: </font> código agrupado em um arquivo:
> python3	programa.py  
- <font color='purple'>Usando uma IDE</font>
 - Jupyter
 - Pycharm

# Mão na massa
https://www.devmedia.com.br/instalacao-do-python/40643
* Abrindo o terminal e testando
* Abrindo o Jupyter e testando

## Hello World

Print é a forma como escrevemos algo para o usuário. Vamos ver bastante essa função por aqui

In [169]:
# hello world

print('olá mundo')

olá mundo

# Parte 1

# Identação
- Python foi desenvolvido para ser uma linguagem de fácil leitura, com um visual agradável, frequentemente usando palavras e não pontuações como em outras linguagens.
- Para a separação de blocos de código, a linguagem usa espaços em branco e indentação ao invés de delimitadores visuais como chaves (C, Java) ou palavras (BASIC, Fortran,Pascal).
- Parentenses são opcionais
- Diferente de linguagens com delimitadores visuais de blocos, em Python a indentação é obrigatória. O aumento da indentação indica o início de um novo bloco, que termina da diminuição da indentação.

In [180]:
x = 10 

if x > 8: 
    print("x é maior que 8"); # observe a importancia da identacao

x é maior que 8

In [179]:
x = 10

if x > 50:
    a =9
    print('x eh mairo que 8');

In [176]:
x = 10

if x > 10:
    print('xpto')

print("x é maior que 8") # observe a importancia da identacao novamente

x é maior que 8

In [177]:
x = 10
if (x > 8): # uso de parenteses não é obrigatorio 
    print("x é maior que 8")

x é maior que 8

In [178]:
x = 10
if x > 8: # nessa linha removemos os parêntesis
    print("x é maior que 8")

x é maior que 8

In [182]:
a = 1
b = 2
c = 3
print("o valor de a é ", a)

o valor de a é  1

In [ ]:
print("o valor de b é ", b); print("o valor de c é ", c)

## Algumas convenções

**Variáveis**
 - começar com letras minúsculas e utilizar o underscore ( _ ) para	separar palavras: meu_nome, numero_de_cadastro, telefone_residencial.  Esse padrão é chamado de **snake case**.	 
 - Também	 podem começar com underscore ( _ ) mas deve	ser	evitado	e utilizado em casos mais específicos.
 - Nunca devem conter espaço
 - Nem tão pequenas nem tão grandes ( exemplo: bs_wheels é melhor que apenas wheels ou total_number_of_wheels_on_a_bus )
 - Não podem ter o nome de uma palavra reservada

Palavras reservadas: <font color='green'> and, as, assert, break, class, continue, def, del, elif, else, except, False, finally, for, from, global, if, import, in, is, lambda, None, nonlocal, not, or, pass, raise,
return, True, try, while, with, yield</font>

In [184]:
# não podem iniciar com numeros 
1roda = 3

SyntaxError: invalid syntax (<ipython-input-184-f594107bff0c>, line 2)

In [185]:
# espacos não são aceitos no nome de uma mesma variavel
var var = 3

SyntaxError: invalid syntax (<ipython-input-185-6ad6f99eed38>, line 2)

    E acentos? E Ç ?

In [187]:
cão = 3
atenção = 5

In [188]:
cão

3

In [ ]:
atenção

In [191]:
# uma palavra reservada não pode ser utilizada como variavel 
if  = 5

SyntaxError: invalid syntax (<ipython-input-191-1abf8aead284>, line 2)

In [195]:
mensagem = 'a aula de python eh hj

SyntaxError: EOL while scanning string literal (<ipython-input-195-a84b14b1e87a>, line 1)

In [194]:
messgem # essa variavel nao existe

NameError: name 'messgem' is not defined

<font color='red'>**Lidando com erros**</font>

É muito importante saber ler os erros! Isso facilita a correção


<!-- ![palavras_reservadas.png](attachment:palavras_reservadas.png)
 -->

**Coding Style**

- Usar indentação com 4 espaços, sem tabs
- Assegurar que as linhas não tenham mais que 79 caracteres
- Separar classes e funções com linhas em branco
- Quando possível colocar o comentário na mesma linha
- Usar docstrings
- Usar espaços entre os operadores
- Nomear funçoes e classes consistentemente, usando _ para separar as palavras
- Evite encondings, o melhor é usar ASCII

In [198]:
## nosso primeiro programa - vamos somar alguns numeros

numero = 10
numero2 = 30

soma = numero + numero2

In [201]:
print(numero)
print(numero2)
print(soma)

10
30
40

In [203]:
## importancia do print - 
numero = 1
numero
numero2 = 2
numero2

2

# Parte 2

## Tipagem - VARIÁVEIS

Variáveis armazenam um valor. Lembrando que uma mesma variável pode assumir tipos diferentes durante o programa.

In [205]:
# criar uma mesma variavel com tipos diferentes
a = 1.5
print(a)
a = 'string'
print(a)
a = 1
print(a)

1.5
string
1

In [206]:
a = 1
b = '1'
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [207]:
# veja o tipo da variavel
a = 1
type(a)

int

In [208]:
# veja o tipo de um numero
b = 10
type(b)

int

In [210]:
# veja o tipo de uma string
b = 'string'
print(type(b))

<class 'str'>

In [211]:
# veja o tipo de um float
b = 1.4
type(b)

float

In [212]:
# veja o tipo de um numero complexo

numero = 1j * 1J

type(numero)

complex

In [213]:
# veja o tipo de uma bool
booleano = True

In [214]:
booleanoo

True

In [215]:
type(booleano)

bool

In [216]:
# numero ou string?
b = '3'
type(b)

str

In [217]:
# float ou string
b = '3.4'
type(b)

str

In [224]:
# diversas maneiras de representar uma string

# aspas simples
string = 'Isso é um exemplo'
print(string)
# aspas duplas
string = "Isso é um exemplo"
print(string)
# duas apas duplas
string = "'Isso é um exemplo'"
string = "That's"
print(string)
# tres aspas simples
string = '''Isso é um exemplo'''
print(string)

Isso é um exemplo
Isso é um exemplo
That's
Isso é um exemplo

In [225]:
# é possivel imprimir varios tipos juntos?
print(3, 'aula', 3.4)

3 aula 3.4

In [227]:
# é possivel somar um numero e uma string numero
numero_1 = 10
numero_2 = "15"

numero_3 = numero_1 + int(numero_2)

print(numero_3)

25

In [228]:
# tipo booleano
booleano = True

In [230]:
# é possivel somar um numero com um tipo bool?
booleano + 3

4

# Parte 3

## OPERADORES

### Operações matemáticas 

* Multiplicação *
* Divisão /
* Soma +
* Subtração -
* Módulo  %
* Truncamento //

In [234]:
# testando os operadores (soma, subtracao, expo, uso de parenteses)
var1 = 4
var2 = 5
# var1 + var2
# var1 * var2
var1 / var2

0.8

In [237]:
### atualizando variaveis com += ou -=

x = 8
y =1 
x + y

9

In [238]:
x += 1
x

9

In [239]:
# -=
x -= 1
x

8

In [240]:
# e o ++
x++

SyntaxError: invalid syntax (<ipython-input-240-cd9044115eb3>, line 2)

In [242]:
# divisao de inteiros usando /

100/30

3.3333333333333335

In [253]:
valor = int(100/25)
type(valor)

int

In [243]:
#divisao sem resto usando //
100//30

3

In [244]:
# divisao de floats usando /
100.2/30.2

3.317880794701987

In [245]:
#divisao de floats  sem resto usando //
100.2//30.2

3.0

In [249]:
# modulo %
10%2   # numero é par?

0

In [250]:
### Qual o resultado?

print(18 // 4.0)

4.0

### Prioridade

- Parenteses (1+1)
- Exponenciação 4**2
- Multiplicação e divisão 2*4
- Adição e subtração 5+2

In [256]:
### Exemplo: média entre 10 e 20 

5+(10/2)

10.0

In [255]:
(5+10)/2

7.5

In [257]:
2**2

4

In [275]:
(-1) ** 0.5

(6.123233995736766e-17+1j)

### Operações relacionais 

* maior > 
* maior igual >=
* menor <
* menor igual <=
* igual ==
* diferente !=

In [262]:
# operacao de maior
5 > 10

bool

In [261]:
5 > 3

True

In [269]:
# operacao de maior igual
5 >= 8

# 5 => 8 # errado!!!

False

In [270]:
# igual
5 == 5

True

In [271]:
5 == 8

False

In [273]:
# diferente
5 != 5

False

### Operações Lógicas

Existem dois valores logicos: TRUE e FALSE

In [274]:
# veja o tipo de True
type(True)

bool

In [276]:
# veja o tipo de False
type(False)

bool

In [279]:
# type(TRUE)

In [281]:
# verifique o tipo do resultado ao verificar se dois numeros sao iguais
5 == 6

False

* Vamos testar os exercicios de ontem aqui?

In [286]:
A=5
B=4
C=3
D=6

(A > C) and (C <=D)

True

In [287]:
(A+B) > 10 or (A+B) == (C+D)

True

In [288]:
(A >= C) and (D >= C)

True

In [289]:
verdade = True
not verdade

False

In [294]:
print(verdade)

True

In [295]:
~verdade  # pq é -2 e não False?

-2

In [296]:
falso = False
not falso

True

In [297]:
~falso

-1

In [299]:
~1

-2

# Parte 4

##  Trabalhando com Strings 

Strings são pedacinhos de texto que você pode exportar para fora do programa

In [301]:
# como criar strings e ver o tipo
string = 'String'
type(string)

str

In [305]:
# como visualizar o valor da variavel string
string

'String'

In [306]:
# usando o print 
print(string)

String

In [312]:
print(""" Esse texto
sera escrito
em mais de uma linha
""")

 Esse texto
sera escrito
em mais de uma linha

In [315]:
print("Esse texto \
sera escrito")

Esse texto sera escrito

In [308]:
### concatenando strings com o operador +

texto1 = 'oi'
texto2 = 'Python'

texto1 + ' ' + texto2

'oi Python'

In [311]:
# usando o operador *
texto1 = 'python '
texto1*3

'python python python '

In [317]:
# contando valores dentro de uma string
a = "I have had an apple on my desk before!"
# a.count('e')
a.count('ha')

2

In [319]:
# verificando posicoes 
music = "Pull out your music and dancing can begin"
music.index('u')

1

In [321]:
bio = ["Metatarsal", "Metatarsal", "Fibula", [], \
       "Tibia", "Tibia", 43, "Femur", "Occipital", "Metatarsal"]
# verificando posicoes 

bio.index('Metatarsal')
bio.index([])

3

In [322]:
# separando os valores de uma string
song = "The rain in Spain..."
song.split()

['The', 'rain', 'in', 'Spain...']

In [324]:
# Passando um separador para o split 
song = "The rain in Spain...is cold"
song.split('...')

['The rain in Spain', 'is cold']

In [325]:
# adicionando separadores ao fazer uma concatencao
wds = ["red", "blue", "green"]
glue = ';'
s = glue.join(wds)

print(wds)
print(glue)
print(s)

['red', 'blue', 'green']
;
red;blue;green

In [326]:
type(wds)

list

In [327]:
type(glue)

str

In [328]:
type(s)

str

In [329]:
# caixa alta e baixa
s1 = 'ApPle'
s1.casefold()

'apple'

In [330]:
s1.upper()

'APPLE'

In [331]:
s1.lower()

'apple'

### Outros comandos úteis com strings

Strings são sequencias de caracteres

In [332]:
# slicing
nome = 'Daniel'
nome[0]

'D'

In [340]:
nome = "Daniel"
nome[0:3]

'Dan'

In [338]:
nome = "Daniel"
nome[-5]

'a'

In [341]:
# imutavel: Identidade no Python é o valor de referência do endereço de memória.

nome = 'Eduardo'
print(id(nome))

140442555505904

In [342]:
nome = 'Felipe'
print(id(nome))

140442200720368

In [343]:
# inserir um valor na string
nome = 'Eduardo'
len(nome)

7

In [345]:
nome[8] = 's'

TypeError: 'str' object does not support item assignment

In [348]:
nome_1 = 'Rodrigo'
nome_2 = 'Ana'

# tamanhos
len(nome_1) == len(nome_2)

False

In [351]:
nome = 'Daniel'
sobrenome = 'Silva'

# concatenando com + 
nome_completo = nome + ' ' +  sobrenome
nome_completo

'Daniel Silva'

In [354]:
nome_1 = 'Eduardo'
nome_2 = 'Eduardo'

# verificando se as strings sao iguais usando ==
nome_1 == nome_2

if nome_1 == nome_2:
    print('igual')
else:
    print('diferente')

igual

In [355]:
nome_1 = 'Eduardo'
nome_2 = 'Eduardo'

# verificando se as strings sao iguais usando is
if nome_1 is nome_2:
    print('igual')
else:
    print('diferente')

igual

In [356]:
# Os métodos de string retornam novos valores, 
# mas não alteram a string original.

# buscar pela posicao da palavra python usando find
mensagem = 'string no Python'

mensagem.find('Python')

10

In [357]:
# buscar pela posicao da palavra quando nao existe na string 
mensagem = 'string no Python'
mensagem.find('Java')

-1

In [360]:
# replace
mensagem = 'Quero aprender Java!'

mensagem =  mensagem.replace('Java', 'Python')

In [361]:
mensagem

'Quero aprender Python!'

In [362]:
# split
mensagem = 'Estou aprendendo Python'
mensagem.split(' ')

['Estou', 'aprendendo', 'Python']

In [363]:
mensagem

'Estou aprendendo Python'

In [370]:
# fazendo split e acessando a lista
mensagem = 'Estou aprendendo Python'
lista_mensagem = mensagem.split()
print(lista_mensagem[2]) # aprendendo

Python

In [371]:
lista_mensagem

['Estou', 'aprendendo', 'Python']

In [369]:
# versoes anteriores ao python 3 esse codigo daria erro, 
# era necessario definir a codificacao utf8
nome = 'João da Silva'
print(nome)

João da Silva

### Case sensitive

- As palavras reservadas são case sensitive, com exceção de True e False, todas as outras são lowercase
- “a” é uma variável e “A” seria outra
- Ao comparar strings também considera-se se são maiusculas ou minusculas

In [ ]:
and 
for 
if 
len 
or 
True 
False

In [373]:
a = 1
A = 1

In [375]:
s1 = 'Apple'

s2 = 'Apple'

s3 = 'apple'


# case sensitive equals check
s1 == s2
s1 == s3

False

In [377]:
S1 = 'pear'
print(S1)
s1 = 'pear'

pear

In [378]:
# python é case sentive na declaracao das variaveis. A mesma palavra, mas com 
# case diferente, é uma variável diferente
abacate = 'abacate'
Abacate = 'ABACATE'

In [379]:
print(abacate,Abacate)

abacate ABACATE

# Parte 5

## Conversão de tipos - cast

In [393]:
# converte para int
numero = 10 # pq o 1 é lido como complexo
string = '2'
flutuante = 2.8
booleano = False
valor = 'valor'
flutuante_string = '2.8'

In [384]:
int(numero)

10

In [386]:
int(string)

2

In [409]:
print(flutuante)
int(flutuante)

2.8

2

In [390]:
int(booleano)

0

In [392]:
int(valor)

ValueError: invalid literal for int() with base 10: 'valor'

In [394]:
int(flutuante_string)

ValueError: invalid literal for int() with base 10: '2.8'

In [401]:
# converter para float

numero = 10 # pq o 1 é lido como complexo
string = '2'
flutuante = 2.8
booleano = False
valor = 'valor'
flutuante_string = '2.8'
flutuante_string_virg = '2,8'

In [395]:
float(numero)

10.0

In [396]:
float(string)

2.0

In [397]:
float(flutuante)

2.8

In [398]:
float(booleano)

0.0

In [399]:
float(valor)

ValueError: could not convert string to float: 'valor'

In [400]:
float(flutuante_string)

2.8

In [402]:
float(flutuante_string_virg)

ValueError: could not convert string to float: '2,8'

In [57]:
# converter para string

numero = 10 # pq o 1 é lido como complexo
string = '2'
flutuante = 2.8
booleano = False
valor = 'valor'
flutuante_string = '2.8'
flutuante_string_virg = '2,8'

In [408]:
str(numero)
str(string)
str(flutuante)
str(valor)
str(flutuante_string)
str(flutuante_string_virg)

'2,8'

# Parte 6

Existem 4 tipos built-in em Python:  Lista, Tupla, Dicionários e Conjuntos


**Lista** é uma coleção que é ordenada e mutável. Permite membros duplicados.

**Tupla** é uma coleção ordenada e imutável. Permite membros duplicados.

**Set** é uma coleção não ordenada, imutável e não indexada. Nenhum membro duplicado.

**Dicionário** é uma coleção ordenada e mutável. Nenhum membro duplicado.


https://docs.python.org/3/tutorial/datastructures.html

## Coleções: Listas, Tuplas e Dicionários

### listas

In [413]:
# coleção de valores indexada
programadores = ['Bianca', 'Bruna', 'Paula', 'Edna', 'Alberto']
programadores

type(programadores)

list

In [414]:
# tamanho da lista
len(programadores)

5

In [416]:
# acessando uma posicao especifica
programadores[0]

'Bianca'

In [417]:
programadores[5]

IndexError: list index out of range

In [420]:
programadores

['Bianca', 'Bruna', 'Paula', 'Edna', 'Alberto']

In [419]:
programadores[-2]

'Edna'

In [421]:
programadores[2:]

['Paula', 'Edna', 'Alberto']

In [422]:
programadores[:2]

['Bianca', 'Bruna']

In [423]:
programadores[1:3]

['Bruna', 'Paula']

In [424]:
# alterando uma lista 
programadores[0] = 'Carolina'

In [425]:
programadores

['Carolina', 'Bruna', 'Paula', 'Edna', 'Alberto']

In [ ]:
programadores[0] = 'Carolina'

In [427]:
programadores

['Carolina', 'Bruna', 'Paula', 'Edna', 'Alberto']

In [426]:
programadorxs = programadores

In [428]:
programadorxs[0] = 'Thiago'

In [429]:
programadorxs

['Thiago', 'Bruna', 'Paula', 'Edna', 'Alberto']

In [432]:
programadores

['Thiago', 'Bruna', 'Paula', 'Edna', 'Alberto']

In [431]:
programdoras = programadores.copy()

In [433]:
programdoras[0] = 'Bianca'

In [434]:
programdoras

['Bianca', 'Bruna', 'Paula', 'Edna', 'Alberto']

In [435]:
programadores

['Thiago', 'Bruna', 'Paula', 'Edna', 'Alberto']

In [436]:
# inserindo um item na lista
programadores.insert(1, 'Rafael')

In [437]:
programadores

['Thiago', 'Rafael', 'Bruna', 'Paula', 'Edna', 'Alberto']

In [438]:
programadores.remove('Rafael')

In [442]:
programadores

['Thiago', 'Bruna', 'Paula', 'Edna', 'Alberto', 'Gesimara']

In [443]:
programadores.remove('Igor')

ValueError: list.remove(x): x not in list

In [440]:
# inserindo um item no final da lista usando append
programadores.append('Gesimara')

In [441]:
programadores

['Thiago', 'Bruna', 'Paula', 'Edna', 'Alberto', 'Gesimara']

In [444]:
# remover usando o POP
programadores.pop()

'Gesimara'

In [447]:
programadores.pop(1)

'Paula'

In [448]:
programadores

['Bruna', 'Edna', 'Alberto']

In [449]:
# remover usando o POP quando a posicao nao existe
programadores.pop(4)

IndexError: pop index out of range

In [450]:
# ordenar uma lista
programadores.sort()

In [451]:
programadores

['Alberto', 'Bruna', 'Edna']

In [452]:
# inverter a ordem de uma lista
programadores.reverse()

In [453]:
programadores

['Edna', 'Bruna', 'Alberto']

In [455]:
# tipos mistos
lista_mista = ['string', 1, 4.8]
lista_mista

['string', 1, 4.8]

In [457]:
# usar o range para criar uma lista
list(range(0,3))

[0, 1, 2]

In [458]:
# criar uma lista usando range e step
list(range(0,50, 10))

[0, 10, 20, 30, 40]

In [459]:
#### usando listas como pilhas: estruturas de dados
#do tipo LIFO (last-in first-out), 
#onde o último elemento a ser inserido, será o primeiro a ser retirado.
pilha = [0,1,2]

In [460]:
# inserindo na pilha com append
pilha.append(-1)

In [461]:
pilha

[0, 1, 2, -1]

In [462]:
# removendo da pilha com pop
pilha.pop()

-1

In [465]:
#### usando listas como filas: estruturas de dados
#do tipo FIFO (first-in first-out), 

# criacao da fifo
fila = [0,1,2]

from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue

deque(['Eric', 'John', 'Michael'])

In [466]:
# inserindo item usando append
queue.append(3)

In [467]:
queue

deque(['Eric', 'John', 'Michael', 3])

In [81]:
# inserindo item usando append

In [468]:
# removendo item usando pop
queue.popleft()

'Eric'

In [473]:
queue

deque(['John', 'Michael', 3])

In [474]:
# removendo item usando pop 
queue.popleft()

'John'

In [475]:
# verificando o conteudo da fila
queue

deque(['Michael', 3])

In [470]:
# listas de listas
listas_de_listas = [[1,2,3], [4,5,6]]

In [472]:
# acessar uma lista de lista
listas_de_listas[0][0]

1

### tuplas

In [476]:
# tuplas são imutaveis 
# criacao da tupla 

frutas = ('banana', 'maca', 'pera')

In [478]:
# verificar tipo e conteudo 
print(frutas)
print(type(frutas))

('banana', 'maca', 'pera')
<class 'tuple'>

In [482]:
# acessando uma posicao 
frutas[2]
frutas[0]
frutas[-1]

'pera'

In [485]:
# criacao de um objeto str e um objeto tupla (,)
objeto_string = ('abacaxi')
objeto_string
type(objeto_string)

str

In [486]:
objeto_tupla = ('abacaxi',)

In [488]:
type(objeto_tupla)

tuple

In [489]:
# acessando posicoes
vogais = ('a', 'e', 'i', 'o', 'u')
vogais[0]

'a'

In [490]:
# add usando o slicing
vogais = ('a', 'e', 'i', 'o', 'u')
vogais[1] = 'A'

TypeError: 'tuple' object does not support item assignment

In [491]:
# add usando append
vogais.append('E')

AttributeError: 'tuple' object has no attribute 'append'

In [492]:
# add usando +
vogais + ('E', )

('a', 'e', 'i', 'o', 'u', 'E')

### Sets 

Um conjunto é uma coleção não ordenada, imutável e não indexada.

In [494]:
# criando set
frutas = {'ameixa', 'uva', 'morango'}
frutas

{'ameixa', 'morango', 'uva'}

In [495]:
type(frutas)

set

In [496]:
# verificando tamanho 
len(frutas)

3

In [497]:
# criando um set duplicado
frutas = {'ameixa', 'uva', 'uva', 'morango'}

In [498]:
frutas

{'ameixa', 'morango', 'uva'}

In [499]:
# verificando tamanho
len(frutas)

3

In [502]:
# sets podem conter elementos de diversos tipo
set1 = {1,2,3}
set2 = {True, False, True} # para q?

In [503]:
set2

{False, True}

In [504]:
# sets podem conter elementos de diversos tipos, inclusive no mesmo conjunto

set3 = {1, 'string', 2.8}

In [505]:
set3

{1, 2.8, 'string'}

In [506]:
# criar um set usando a palavra chave set
frutas = set('apple', 'grape', 'banana')

TypeError: set expected at most 1 argument, got 3

In [507]:
frutas = set(('apple', 'grape', 'banana'))

In [508]:
# inserindo novo elemento 
frutas.add('pineapple')

In [509]:
frutas

{'apple', 'banana', 'grape', 'pineapple'}

In [510]:
frutas.remove('banana')

In [511]:
frutas

{'apple', 'grape', 'pineapple'}

In [512]:
frutas.remove('melancia')

KeyError: 'melancia'

In [514]:
frutas.discard('apple')

In [515]:
frutas

{'grape', 'pineapple'}

In [516]:
frutas.discard('melancia')

In [518]:
# criando um set a partir de uma lista
nums = [1,2,2,3,4,5]
nums

[1, 2, 2, 3, 4, 5]

In [519]:
set(nums)

{1, 2, 3, 4, 5}

In [520]:
# acessando um item 
nums[0]

1

In [105]:
# removendo um item usando remove

In [106]:
# removendo um item que nao existe

In [107]:
# remover usando discard

In [108]:
# remover usando discard um item que nao existe

In [109]:
# remover usando pop

In [521]:
# ver conteudo do set
nums

[1, 2, 2, 3, 4, 5]

In [522]:
# criar outro set a partir de uma lista


# remover todos os elementos com  clear
nums.clear()

In [523]:
nums

[]

In [524]:
# operacoes 
# uniao de dois conjuntos com a palavra chave union 
A = {0, 1, 3, 5, 7, 9} 
B = {0, 2, 4, 6, 8}

C = A.union(B)
C

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [526]:
# uniao de dois conjuntos com |  
A = {0, 1, 3, 5, 7, 9}
B = {0, 2, 4, 6, 8}
C = A | B
C

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [530]:
# interseccao de dois conjuntos com a palavra chave intersect e com &
A = {0, 1, 3, 5, 7, 9}
B = {0, 2, 4, 6, 8}

C = A & B
C

{0}

In [532]:
C = A.intersection(B)
C

{0}

<img src='../figuras/operacoes_sets.png'>

ref:https://algoritmosempython.com.br/cursos/programacao-python/conjuntos/

### dicionarios

In [115]:
# dicionarios:  pares chave/valor

dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

In [533]:
# Nas listas e tuplas acessamos os dados por meio dos índices. 
#Já nos dicionários, o acesso aos dados é feito por meio da chave associada a eles.
dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

print(dados_cliente) # {'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul',

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Telefone': '982503645'}

In [534]:
# imprimindo o valor de uma chave
dados_cliente['Nome']

'Renan'

In [535]:
# inserindo nova chave e valor
dados_cliente['Celular'] = '25656458'

In [536]:
dados_cliente

{'Nome': 'Renan',
 'Endereco': 'Rua Cruzeiro do Sul',
 'Telefone': '982503645',
 'Celular': '25656458'}

In [537]:
# removendo com pop 
dados_cliente.pop('Telefone', None)

'982503645'

In [538]:
dados_cliente

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Celular': '25656458'}

In [539]:
dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

# usando del para remover uma chave
del dados_cliente['Telefone']

In [540]:
dados_cliente

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul'}

In [541]:
# verificar quantas chaves existem 
len(dados_cliente)

2

In [542]:
# verificar se uma chave existe
'Telefone' in dados_cliente

False

In [543]:
'Nome' in dados_cliente

True

### Funções uteis para coleções

In [544]:
numeros = [15, 5, 0, 20, 10]
nomes = ['Caio', 'Alex', 'Renata', 'Patrícia', 'Bruno']

# mim max 
print(min(numeros)) # 0
print(max(numeros)) # 20
print(min(nomes)) # Alex
print(max(nomes)) # Renata

0
20
Alex
Renata

In [545]:
numeros = [1, 3, 6]

#sum 
print(sum(numeros)) # 10

10

In [546]:
paises = ['Argentina', 'Brasil', 'Colômbia', 'Uruguai']

#len
print(len(paises)) # 4

4

In [547]:
conjunto = {1,2,3,3}
conjunto

{1, 2, 3}

In [548]:
# soma e min em conjunto
print(min(conjunto))
print(sum(conjunto))

1
6

In [549]:
tupla = (-1,-2,1,2,4)
# soma e min em tupla

print(min(tupla))
print(sum(tupla))

-2
4

# Exercicios

* construa uma lista e imprima-a em ordem crescente 

* imprima a mesma lista de forma reversa

* construa um dicionário com as chaves sendo nomes de alunos e os valores sendo notas

# Parte 7

## Condições: IF ELSE

In [550]:
programadores = ['Walkiria', 'Paula', 'Edna', 'Alberto', 'Bianca', 'Bruna']

In [554]:
# if simples com resultado 


if 'Walkiria' in programadores:
    print('sim')
    
if 'Paula' in programadores:
    print('sim')

sim
sim

In [555]:
# if simples sem resultado 
if 'Jose' in programadores:
    print('sim')

In [557]:
# if simples com comparacao < 
numero = 45
chute = 2

if chute < numero:
    print( 'seu chute é menor que o numero')

seu chute é menor que o numero

In [558]:
# if simples com comparacao ==
numero = 45
chute = 45

if chute == numero:
    print( 'Vc acertou!!!!')

Vc acertou!!!!

In [559]:
# if else
# if simples com comparacao ==
numero = 45
chute = 48

if chute == numero:
    print( 'Vc acertou!!!!')
else:
    print('Nao foi dessa vez')

Nao foi dessa vez

In [563]:
# if else aninhados
nota = int(input("Digite uma nota: "))

if nota <= 30: 
        print('Reprovado')
else: 
    if nota < 50:
        print('Recuperacao')
    else: 
        print('aprovado!!!')

Digite uma nota: 60
aprovado!!!

In [564]:
nota = int(input("Digite uma nota: "))

# if if aninhados
if nota <= 30: 
        print('Reprovado')
else: 
    if nota < 50:
        print('Recuperacao')
    if nota >= 50: 
        print('aprovado!!!')

Digite uma nota: 60
aprovado!!!

In [566]:
nota = int(input("Digite uma nota: "))

# elif

# elif
if nota < 30:
    print("Reprovado")
elif nota < 50:
    print("Recuperacao")
elif nota < 80:
    print('quase')
else:
    print("Aprovado")

Digite uma nota: 50
quase

# Parte 8

## Estrutura de repetição

In [570]:
numeros = [1,2,3,4,5]
# vamos imprimir os numeros dessa lista
print(numeros[0])
print(numeros[1])

1
2

### iterando uma lista

In [573]:
# agora usando um for
for i in numeros:
    print(i)

1
2
3
4
5

In [575]:
# iterando em um range/intervalor
for i in range(1,5):
    print(i)

1
2
3
4

In [577]:
# iterando em um range/intervalo com step
for i in range(0,100, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90

In [578]:
# iterando e contando
nomes = ['Maria', 'Jose', 'Joao']

for pos, i in enumerate(nomes):
    print(pos, i)

0 Maria
1 Jose
2 Joao

In [581]:
# for aninhado
for numero in range(0, 3):
    print('****')
    print('valor no loop externo', numero)
    for numero2 in range(0,5):
        print('valor do loop interno', numero2)

****
valor no loop externo 0
valor do loop interno 0
valor do loop interno 1
valor do loop interno 2
valor do loop interno 3
valor do loop interno 4
****
valor no loop externo 1
valor do loop interno 0
valor do loop interno 1
valor do loop interno 2
valor do loop interno 3
valor do loop interno 4
****
valor no loop externo 2
valor do loop interno 0
valor do loop interno 1
valor do loop interno 2
valor do loop interno 3
valor do loop interno 4

### Iterando uma tupla

In [582]:
numeros = (1,2,3,4,5,)
# iterando 
for i in numeros:
    print(i)

1
2
3
4
5

### Iterando um set

In [583]:
numeros = {1,2,3,4,5}
# iterando
for i in numeros:
    print(i)

1
2
3
4
5

### Iterando um dicionário

In [584]:
numeros = {'num_1': 1,'num_2': 2, 'num_3': 3,'num_4': 4,'num_5': 5}
# iterando
for key, value in numeros.items():
    print(key, value)

num_1 1
num_2 2
num_3 3
num_4 4
num_5 5

### While

In [585]:
# while condition - verifica a condicao e depois executa
i  = 10
while(i != 0):
    print('diferente')
    i -=1

diferente
diferente
diferente
diferente
diferente
diferente
diferente
diferente
diferente
diferente

In [587]:
# o que acontece aqui?
# i = 10
# while (i != 0): #
#     print("diferente")

In [ ]:
##

In [589]:
import itertools

In [590]:
# using repeat() to repeatedly print number   
print ("Printing the numbers repeatedly : ")   
print (list(itertools.repeat(25, 4)))

Printing the numbers repeatedly :
[25, 25, 25, 25]

### comprehensions

In [152]:
S =[]
for x in range(10):
    S.append(x**2)
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [153]:
# nested compreehension
list_of_list = [[1,2,3],[4,5,6],[7,8]]

# transformar numa lista

# Exercicios

* Utilize o dicionário criado por vcs anteriormente, e encontre a menor nota 
* Construa uma estrutura de if .... else para verificar se uma pessoa digitou um número correto
* Utilizando comprenhensions, verifique se a fruta kiwi está na lista: fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# Parte 9

## Funções

* parametros:nomes dos atributos que serão passados para a função
* argumentos: são os valores passados para a função

In [154]:
# como criar uma funcao que soma dois numeros?

In [155]:
# como chamar a funcao?

In [156]:
# funcao com valores default

In [157]:
# apenas um valor defaul

In [158]:
# atencao na ordem dos valores default

In [159]:
# cuidado com as variaveis globais

In [160]:
# sem o return, veja quais variáveis são impactadas

In [161]:
# agora com return veja o impacto

In [162]:
# uso de args

In [163]:
# chamar sem valores

# chamar com 2 valores

# chamar com 3 valores

In [164]:
# kwargs

In [165]:
# args e kwargs

# Parte 10

## Python Zen

https://pythonacademy.com.br/zen-of-python

In [166]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [167]:
# "Bonito é melhor que feio"
    
if funcao(x) && y == 0 || z == 'yes': # feio

if funcao(x) and y == 0 or z == 'yes': # bonito

SyntaxError: invalid syntax (<ipython-input-167-32d2c94371bd>, line 3)

In [ ]:
# "Explícito é melhor que implícito"
from os import *
print getcwd()  # implicito

import os
print os.getcwd()  # explicito

In [ ]:
# "Linear é melhor do que aninhado"

if i > 0:  #linear
    return funcao(i) 
elif i == 0: 
    return 0 
else: 
    return 2 * funcao(i)


if i>0: return funcao(i)  # aninhado
elif i==0: return 0 
else: return 2 * funcao(i)

In [ ]:
# "Erros nunca devem passar silenciosamente. 
# A menos que sejam explicitamente silenciados"

try:
    x = funcao(y)
except:
    pass  # cuidado aqui


try:
    x = funcao(y)
except:
    print("Deu ruim!") # um pouco melhor

# Parte 10

## Bibliotecas 

* 137,000 bibliotecas no Python!
* A Biblioteca Padrão do Python é uma coleção de módulos de script acessíveis a um programa Python para simplificar o processo de programação e remover a necessidade de reescrever os comandos mais usados. Eles podem ser usados chamando-os / importando-os no início de um script.
* Top 5:
    - Pandas
    - Numpy
    - Sklearn
    - Matplotlib
    - time
* Como usar uma biblioteca no python 
    - import pandas as pd

Algumas bibliotecas precisam ser instaladas. Basicamente, existem duas formas: usando o pip (Pip Installs Python) e a outra usando o Anaconda.

In [ ]:
! pip install pandas 

! conda install pandas

Algumas bibliotecas não estão dentro do ambiente Anaconda, mas você pode usar o pip dentro do Anaconda

In [ ]:
! pip install -U pandas

In [ ]:
# ! pip install pandas=0.20.3

# Referencias 

* devmedia.com.br

* https://jovemnerd.com.br/nerdcast/nerdtech/vingadores-do-data-science/

* https://www.youtube.com/watch?v=5b9Z8toVaAU

* https://www.devmedia.com.br/tipos-de-dados-em-python-string/40669

* https://gvanrossum.github.io/

* https://www.devmedia.com.br/operadores-no-python/40693

* https://realpython.com/python-data-types/