# LI PROGRAMA DE VERÃO (2022 - edição 51)

<img src='../figuras/paisagem.png'>

## Pandas 

https://pandas.pydata.org/docs/user_guide/index.html

3 estruturas de dados, as principais são: 
* Series: similar a uma lista 
* DataFrame: forma tabula de apresentar os dados. Onde cada coluna é uma série

Dataframes contêm uma coleção ordenada de colunas, em que cada coluna pode ter um tipo diferente (numerico, booleano, string)

## DataFrame

In [ ]:
import pandas as pd
df = pd.DataFrame({'growth':[.5, .7, 1.2], 'Name':['Paul', 'George', 'Ringo'] })
df

<img src='../figuras/data_frame.png'>

In [ ]:
df.iloc[2]

In [ ]:
df['Name']

In [ ]:
 type(df['Name']) # series!

In [ ]:
df['Name'].str.lower()

* Construção 

Dataframes podem ser criados de muitos tipos de entrada:

- colunas ( dicionários de listas)
- rows ( listas de dicionários)
- CSV (pd.read_csv)
- Numpy ndarray
- E SQL, HDF5, etc

In [ ]:
pd.DataFrame([ # dataframes de rows
    {'growth':.5, 'Name':'Paul'},
    {'growth':.7, 'Name':'George'},
    {'growth':1.2, 'Name':'Ringo'}])

In [ ]:
import numpy as np
pd.DataFrame(np.random.randn(10,3), columns=['a', 'b', 'c']) #numpy

* Axis 

Ao contrário das series que tem apenas um axis, o DF tem dois: 
* 0: row index
* 1: columns

In [ ]:
df.axes

In [ ]:
df.axes[0]

In [ ]:
df.axes[1]

In [ ]:
df = pd.DataFrame({'Score1': [None, None], 'Score2': [85, 90]})
df

In [ ]:
df.apply(np.sum, axis=0)

In [ ]:
df.apply(np.sum, axis=1)

<img src='../figuras/df_axis.png'>

In [ ]:
from io import StringIO
data = StringIO('''LOCATION,MILES,ELEVATION,CUMUL,% CUMUL GAIN
Big Mountain Pass Aid Station,39.07,7432,11579,43.8%
Mules Ear Meadow,40.75,7478,12008,45.4%
Bald Mountain,42.46,7869,12593,47.6%
Pence Point,43.99,7521,12813,48.4%
Alexander Ridge Aid Station,46.9,6160,13169,49.8%
Alexander Springs,47.97,5956,13319,50.3%
Rogers Trail junction,49.52,6698,13967,52.8%
Rogers Saddle,49.77,6790,14073,53.2%
Railroad Bed,50.15,6520,,
Lambs Canyon Underpass Aid Station,52.48,6111,14329,54.2%''')

In [ ]:
df = pd.read_csv(data)
df

In [ ]:
print(df.to_string(line_width=60))

In [ ]:
 print(df.T.to_string(line_width=60))

In [ ]:
df.describe()

In [ ]:
df['LOCATION'].value_counts()

In [ ]:
df.corr()

* Adicionando linhas

In [ ]:
df2 = pd.DataFrame([('Lambs Trail',54.14,6628,14805,'56.0%')], columns=['LOCATION','MILES','ELEVATION','CUMUL','% CUMUL GAIN'])

In [ ]:
pd.concat([df, df2])

In [ ]:
df = pd.concat([df, df2], ignore_index=True)
df

* Adicionando colunas

In [ ]:
df['bogus'] = pd.Series(range(11))
df

In [ ]:
def aid_station(val):
    return 'Station' in val

In [ ]:
df['STATION'] = df['LOCATION'].apply(aid_station)

In [ ]:
df

* Deletando linhas

In [ ]:
df.drop([5, 9])

In [ ]:
df.drop(df.index[5:10:4])

* Deletando colunas

In [ ]:
bogus = df.pop('bogus') # inplace
bogus

In [ ]:
df.columns

In [ ]:
df['bogus'] = bogus
df

In [ ]:
del df['bogus'] # inplace

In [ ]:
df

In [ ]:
df.drop(['ELEVATION', 'CUMUL', '% CUMUL GAIN', 'STATION'], axis=1)

* Metodos

In [ ]:
data = StringIO('''UPC,Units,Sales,Date
    1234,5,20.2,1-1-2014
    1234,2,8.,1-2-2014
    1234,3,13.,1-3-2014
    789,1,2.,1-1-2014
    789,2,3.8,1-2-2014
    789,,,1-3-2014
    789,1,1.8,1-5-2014''')

In [ ]:
sales = pd.read_csv(data)
sales

In [ ]:
# axes, index, columns

In [ ]:
sales.shape

In [ ]:
sales.info() # observe que ele retorna o quanto de memoria esta sendo usado

* Iteration

In [ ]:
for column in sales:
    print(column)

In [ ]:
for col, ser in sales.iteritems():
    print(col, ser)

In [ ]:
for row in sales.iterrows():
    print(row)

In [ ]:
len(sales)

* Aritméticos

In [ ]:
sales + 10

In [ ]:
sales[['Sales', 'Units']] + 10

In [ ]:
sales.Units + 2

* Matriz

In [ ]:
sales.transpose()

In [ ]:
sales.dot(sales.T) # se o conteudo for numerico funciona

* Serialização

In [ ]:
fout = StringIO()

In [ ]:
sales.to_csv(fout, index_label='index')

In [ ]:
print(fout.getvalue())

In [ ]:
sales.to_dict()

In [ ]:
sales.to_dict(orient='list')

In [ ]:
pd.DataFrame.from_dict(sales.to_dict())

In [ ]:
sales.values # numpy matrices

* Index

In [ ]:
sales.reindex([0, 4])

In [ ]:
sales.reindex(columns=['Date', 'Sales'])

In [ ]:
 sales.reindex(index=[2, 6, 8], columns=['Sales', 'UPC', 'missing'])

In [ ]:
by_date = sales.set_index('Date')

In [ ]:
by_date.reset_index()

* Getting e setting

In [ ]:
sales.iat[4, 2]

In [ ]:
# by_date.get_value('1-5-2014', 'UPC')

In [ ]:
# sales.set_value(6, 'Sales', 789)

In [ ]:
sales.insert(1, 'Category', 'Food') # sem retorno

In [ ]:
sales

In [ ]:
sales.replace(789, 790)

In [ ]:
# sales.replace({'UPC': {789: 790},'Sales': {789: 1.4}})

In [ ]:
sales.replace('(F.*d)', r'\1_stuff', regex=True)

* Deletar colunas
    - .pop
    - .drop
    - .reindex
    - indexar com uma lista de novas colunas

In [ ]:
sales['subcat'] = 'Dairy'
sales

In [ ]:
sales.pop('subcat')

In [ ]:
sales.drop(['Category', 'Units'], axis=1)

In [ ]:
cols = ['Sales', 'Date']

In [ ]:
sales.reindex(columns=cols)

* Slicing

In [ ]:
sales.head()

In [ ]:
sales.tail(2)

In [ ]:
sales['new_index'] = list('abcdefg')

In [ ]:
df = sales.set_index('new_index')

In [ ]:
del sales['new_index']

In [ ]:
 df.iloc[2:4]

<img src='../figuras/dataframe_slicing.png'>

In [ ]:
df.iloc[2:4, 0:1]

In [ ]:
df.loc['a':'d']

In [ ]:
df.loc['d':, 'Units']

* Sorting

In [ ]:
sales.sort_values('UPC')

In [ ]:
sales.sort_values(['Units', 'UPC'])

In [ ]:
sales.sort_index(ascending=False)

In [ ]:
data = '''year\tinches\tlocation
    2006\t633.5\tutah
    2007\t356\tutah
    2008\t654\tutah
    2009\t578\tutah
    2010\t430\tutah
    2011\t553\tutah
    2012\t329.5\tutah
    2013\t382.5\tutah
    2014\t357.5\tutah
    2015\t267.5\tutah'''

In [ ]:
snow = pd.read_table(StringIO(data))
snow

* describe e quantile

In [ ]:
snow.describe()

In [ ]:
snow.describe(include='all')

In [ ]:
snow.quantile()

In [ ]:
snow.quantile(q=[.1, .9])

In [ ]:
snow.count()

In [ ]:
snow.any()

In [ ]:
snow.rank()

In [ ]:
snow[['inches']].clip(lower=400, upper=600)

* Correlation and Covariance

In [ ]:
snow.corr()

In [ ]:
snow.corr(method='spearman')

In [ ]:
 snow2 = snow[['inches']] - 100

In [ ]:
snow.corrwith(snow2)

In [ ]:
snow.cov()

* Reductions

In [ ]:
snow.sum() # o que acontece com as colunas que sao string?

In [ ]:
snow.sum(numeric_only=True)

In [ ]:
snow.prod()

In [ ]:
snow.mean(axis=1)

In [ ]:
snow.var()

* Grouping, Pivoting e reshaping

* GroupBy

<img src='../figuras/pandas_max_groupby.png'>

In [ ]:
df = pd.DataFrame({'Team':['A','A','A','B','B','B','B'], 'Score':[8.1, 8.3, 9.2,6.5,7.1,8.6,7.3]})
df

In [ ]:
df.groupby('Team')['Score'].max()

In [ ]:
 scores = pd.DataFrame({
    'name':['Adam', 'Bob', 'Dave', 'Fred'],
    'age': [15, 16, 16, 15],
    'test1': [95, 81, 89, None],
    'test2': [80, 82, 84, 88],
    'teacher': ['Ashby', 'Ashby', 'Jones', 'Jones']})

In [ ]:
scores

In [ ]:
scores.groupby('teacher').median()

In [ ]:
scores.groupby('teacher').median()[['test1', 'test2']]

In [ ]:
scores.groupby(['teacher', 'age']).median()

In [ ]:
scores.groupby(['teacher', 'age']).agg([min, max])

* Pivot

In [ ]:
scores.pivot_table(index='teacher', values=['test1', 'test2'], aggfunc='median')

In [ ]:
scores.pivot_table(index=['teacher', 'age'], values=['test1', 'test2'], aggfunc='median')

In [ ]:
scores.pivot_table(index='teacher',  values=['test1', 'test2'], aggfunc=[min, max])

In [ ]:
scores.pivot_table(index='teacher', values=['test1', 'test2'], aggfunc='median', margins=True)

* Melt

In [ ]:
scores

In [ ]:
pd.melt(scores, id_vars=['name', 'age'], value_vars=['test1', 'test2'])

* Dummy

In [ ]:
pd.get_dummies(scores, columns=['age'], prefix='age')

* Missing

In [ ]:
scores.isnull().any()

In [ ]:
scores.dropna()

In [ ]:
valid = scores.notnull()
scores[valid.test1]

In [ ]:
scores.fillna('missing') # ffil, bfill

In [ ]:
scores.interpolate()

* Joining 

https://towardsdatascience.com/python-pandas-dataframe-join-merge-and-concatenate-84985c29ef78

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
df1 = pd.DataFrame({'name': ['John', 'George', 'Ringo'], 'color': ['Blue', 'Blue', 'Purple']})
df1

In [ ]:
df2 = pd.DataFrame({'name': ['Paul', 'George', 'Ringo'], 'carcolor': ['Red', 'Blue', np.nan]}, index=[3, 1, 2])
df2

In [ ]:
pd.concat([df1, df2])

In [ ]:
 pd.concat([df1, df2], ignore_index=True)

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
df1.merge(df2)

In [ ]:
df1.merge(df2, how='outer')

In [ ]:
df1.merge(df2, how='left')

* any all

In [ ]:
df3 = pd.DataFrame({'name': ['John', 'George', 'Ringo'], 'color': ['Blue', 'Blue', 'Purple']})
df4 = pd.DataFrame({'name': ['John', 'George', 'Ringo'], 'color': ['Blue', 'Blue', 'Blue']})

In [ ]:
any(df3.color == 'Blue')

In [ ]:
all(df3.color == 'Blue')

In [ ]:
all(df4.color == 'Blue')

# Referencias 

* devmedia.com.br

* https://jovemnerd.com.br/nerdcast/nerdtech/vingadores-do-data-science/

* https://www.youtube.com/watch?v=5b9Z8toVaAU

* https://www.devmedia.com.br/tipos-de-dados-em-python-string/40669

* https://gvanrossum.github.io/